/* CSS file */

@font-face
{
    src: url("assets/fonts/ArialRoundedMTBold.swf");
    fontFamily: "Arial Rounded MT Bold";
    fontWeight: bold;
}

WindowedApplication, Application, 
Label, Button, Text, TextInput {
	paddingTop: 1px;
	fontWeight: bold;
	font-family: "Arial Rounded MT Bold";
}

.content {
	background-color: #FF0000;
	background-image: "-90deg #666666 60px #FFFFFF 90% #AAAAAA";
	background-repeat: stretch;
	background-position: center;
	background-blend: multiply;
	/*asset-class: ClassReference("assets.ExamplesAssets");*/
	borderSkin: ClassReference("com.degrafa.skins.CSSSkin");
}

.footer {
	background-color: #FFFFFF;
	background-alpha: 1;
}

.login {
	background-color: #9AE4E8;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	borderSkin: ClassReference("com.degrafa.skins.CSSSkin");
}

List {
	layout: ClassReference("com.openflux.layouts.FlowLayout");
	view: ClassReference("com.plexiglass.views.PlexiListView");
	/*camera: ClassReference("com.plexiglass.cameras.HoverCamera");*/
}

TwitterStatus {
	view: ClassReference("com.plexitwitter.views.TwitterStatusView");
}

Photo {
	view: ClassReference("com.plexitwitter.views.FlickrPhotoView");
}